@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

body {
  background-color: #ffffff;
}
 .bebas-neue-regular {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
/* navbar section */
header{
    max-width: 1440px;
    margin: 0 auto;
    padding: 40px 130px;
}
.nav-bar {
 display: flex;
 justify-content: flex-end;
}
.nav-content {
  font-size: 1.2rem;
  font-weight: 400;
}
.nav-link {
  display: flex;
  text-align: end;
  gap: 30px;
  list-style: none;
}
.nav-link li a {
  text-decoration: none;
  color: #3c3c3c;
}
/* hero section */
.hero-container {
  max-width: 1440px;
  padding: 0 130px;
  display: flex;
  justify-content: space-between;
  gap: 60px;
  align-items: center;
}
.hero-section-left, .hero-section-right {
  width: 50%;
}
.hero-image img {
  max-width:100%;
  height: auto;
}
.hero-title{
    font-size: 5rem;
    font-weight: 700;
}
.hero-sub-title{
    font-size: 1.25rem;
    font-weight: 300;
}
.btn{
    background-color: #FF8367;
    text-align: center;
    padding: 20px 25px;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}
#text-color{
    color: #FF8367;
}